<div class="block" id="ajaxcart_content_option_product" style="">
    <div class="promotion-alert-popup">
        <div id="payment_alert-close" onclick="ajaxCart.optionsPopup.hide();"><span>X</span></div>
        <div class="message"><p></p>
            <div class="promotion_credit_card">
                <h2>โปรโมชั่น บัตรเครดิต</h2>
                <div class="list_card_promo clearfix">
                    <ul><!-- start promo_card -->
                        <li class="card_item normal-gateway clearfix">
                            <div class="promo_card">
                                <div class="img_left"><img alt=""
                                                           src="https://bigc-new.mgfdev.com/media/wysiwyg/pmt_creditcard.png">
                                </div>
                                <div class="info_right">
                                    <h3><b id="yui_3_16_0_ym19_1_1491539827795_19186"><span
                                            id="yui_3_16_0_ym19_1_1491539827795_19185">ชำระผ่านบัตรเครดิต</span></b>
                                    </h3>
                                    <div class="desc">
                                        <p><span id="yui_3_16_0_ym19_1_1491539827795_19187">ยินดีรับชำระผ่านบัตรเครดิตของ</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19188">&nbsp;VISA&nbsp;</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19380">และ&nbsp;</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19189">MasterCard&nbsp;</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19180">จากทุกธนาคาร</span></p>
                                        <p><span style="color: #999999;"><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19196">สำหรับบางธนาคารอาจต้องกรอก</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19195">&nbsp;Verified by visa&nbsp;</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19194">หรือ&nbsp;</span><span
                                                id="yui_3_16_0_ym19_1_1491539827795_19179">MasterCard Secure Code</span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- end promo_card --> <!-- start promo_card --> <!-- start promo_card -->
                        <li class="card_item clearfix choosed">
                            <div class="promo_card">
                                <div class="img_left"><img alt=""
                                                           src="https://bigc-new.mgfdev.com/media/wysiwyg/credit-card/bigc_credit_payment.png">
                                </div>
                                <div class="info_right">
                                    <h3>Pay with Big C Platinum PayWave credit card </h3>
                                    <div class="desc">
                                        <p class="red">●&nbsp;<span>Get instant discount 3% *</span></p>
                                        <!-- <p><span style="color: #888888;">สิทธิพิเศษเมื่อช้อปออนไลน์ รับส่วนลดเพิ่ม 100 บาท เมื่อสั่งซื้อครั้งแรก ตั้งแต่ 999 บาทขึ้นไป</span></p> -->
                                        <p>*Terms and conditions are as determined by the company</p>
                                    </div>
                                    <div class="input_pass">
                                        <div class="input_area"><input class="number" type="text" maxlength="16"
                                                                       placeholder="กรอกเลข Bigcard 16 หลัก"
                                                                       autocomplete="off"> <input type="button"
                                                                                                  value="เช็ค"
                                                                                                  data-bigc="true"
                                                                                                  autocomplete="off">
                                        </div>
                                        <p class="bottom_text_input red">หมายเลขบัตรนี้ ไม่ได้เข้าร่วมโปรโมชั่นส่วนลด
                                            กรุณาเลือกการชำระผ่านบัตรเครดิต"</p>
                                        <p class="red message-response normal">&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- end promo_card --> <!-- start promo_card -->
                        <!-- <li class="card_item clearfix">
                        <div class="promo_card">
                        <div class="img_left"><img alt="" src="/media/wysiwyg/credit-card/mastercard.png" /></div>

                        <div class="info_right">
                        <h3><b id="yui_3_16_0_ym19_1_1491539827795_19445"><span id="yui_3_16_0_ym19_1_1491539827795_19444">ชำระผ่านบัตรเครดิต</span></b><b id="yui_3_16_0_ym19_1_1491539827795_19439"><span id="yui_3_16_0_ym19_1_1491539827795_19438">&nbsp;MasterCard</span></b></h3>
                        <div class="desc">
                        <p class="red">●&nbsp;<span id="yui_3_16_0_ym19_1_1491539827795_19452">รับส่วนลด</span><span id="yui_3_16_0_ym19_1_1491539827795_19437">&nbsp;100&nbsp;</span><span id="yui_3_16_0_ym19_1_1491539827795_19455">บาท*</span></p>
                        <p><span id="yui_3_16_0_ym19_1_1491539827795_19463">เมื่อช้อปครบ</span><span id="yui_3_16_0_ym19_1_1491539827795_19193">&nbsp;800&nbsp;</span><span id="yui_3_16_0_ym19_1_1491539827795_19192">บาทขึ้นไป / ใบสั่งซื้อ</span></p>
                        <p><span id="yui_3_16_0_ym19_1_1491539827795_19477">ตั้งแต่วันนี้</span><span id="yui_3_16_0_ym19_1_1491539827795_19476">&nbsp;&ndash; 12&nbsp;</span><span id="yui_3_16_0_ym19_1_1491539827795_19475">เม.ย.&nbsp;</span><span id="yui_3_16_0_ym19_1_1491539827795_19474">60</span></p>
                        </div>
                        <div class="input_pass">
                        <div class="input_area_full"><input type="button" value="กดรับเงื่อนไข" data-master="true" /></div>
                        <p class="red message-response fulltext">&nbsp;</p>
                        </div>
                        </div>
                        </div>
                        </li> -->
                        <!-- start promo_card --></ul>
                </div>
            </div>
            <div class="btn_close_area"><input id="btn_close_area" class="button"
                                               onclick="ajaxCart.optionsPopup.hide();" type="submit" value="ตกลง"
                                               disabled="" autocomplete="off"></div>
            <!-- promotion_credit_card --><p></p></div>
    </div>
</div>