<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2017 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                <resource id="SITC_Sublogins::sublogins" title="Sublogins" sortOrder="100" >
                    <resource id="SITC_Sublogins::account" title="Accounts" sortOrder="10">
                        <resource id="SITC_Sublogins::account_save" title="Save Account" sortOrder="10" />
                        <resource id="SITC_Sublogins::account_delete" title="Delete Account" sortOrder="20" />
                    </resource>
                </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>