<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="SubAccountGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="SITC\Sublogins\Api\Data\SubAccountInterface" type="SITC\Sublogins\Model\SubAccount" />
    <virtualType name="SubAccountGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">SITC\Sublogins\Model\ResourceModel\SubAccount\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SubAccountGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="SITC\Sublogins\Model\ResourceModel\SubAccount\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">SITC\Sublogins\Model\ResourceModel\SubAccount</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sub_account_listing_data_source" xsi:type="string">SITC\Sublogins\Model\ResourceModel\SubAccount\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Ui\Component\Listing\Column\Actions">
        <plugin name="add_action_create_sublogins_customer_grid"
                type="SITC\Sublogins\Plugin\Customer\Ui\Component\Listing\Column\Actions"/>
    </type>
    <type name="Magento\Customer\Model\Customer\DataProvider">
        <plugin name="prepare_parent_id_before_save_customer" type="SITC\Sublogins\Plugin\Customer\Model\Customer\DataProvider"/>
    </type>
    <type name="\Magento\Customer\Controller\Adminhtml\Index\Save">
        <plugin name="set_redirect_url_after_save_sub_account" type="SITC\Sublogins\Plugin\Customer\Redirect\RedirectSublogin"/>
    </type>
</config>