<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SITC_Sublogins::sublogins" title="Sub-Accounts" translate="title" module="SITC_Sublogins" sortOrder="100" parent="Magento_Customer::customer" dependsOnModule="SITC_Sublogins" resource="Magento_Customer::customer"/>
        <add id="SITC_Sublogins::account" title="All Sub-Accounts" module="SITC_Sublogins" sortOrder="100" parent="SITC_Sublogins::sublogins" action="sublogins/account" resource="Magento_Customer::sublogins" />
        <add id="SITC_Sublogins::import" title="Import Sub-Accounts" module="SITC_Sublogins" sortOrder="100" parent="SITC_Sublogins::sublogins" action="sublogins/account/import" resource="Magento_Customer::sublogins" />
        <add id="SITC_Sublogins::settings" title="Settings" module="SITC_Sublogins" sortOrder="100" parent="SITC_Sublogins::sublogins" action="adminhtml/system_config/edit/section/sublogins" resource="Magento_Customer::settings"/>
    </menu>
</config>